src/main/mule/guaranteed_delivery-rmq-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<sub-flow name="publisher_rmq-Sub_flow" doc:id="d6d393a1-2832-4323-ac80-5b651460ae0d" >
		<logger level="INFO" doc:name="Log PERSON being Published" doc:id="6e8fb771-c7e9-45c3-89e4-a82ddd32fff9" message='#[%dw 2.0
output application/json
---
{
	target: "RMQ",
	message: "Person named " 
		++ (vars.person."first-name" default "NONAME") 
		++ " received through HTTP request.",
	operation: attributes.queryParams."operation" default "NOOPERATION"
}]'/>
		<amqp:publish doc:name="Publish eip-guaranteed_delivery" doc:id="86b93509-a090-47fa-95a3-8e97a2981f3c" config-ref="AMQP_Config" exchangeName="${amqp.publisher1.exchange}" deliveryMode="PERSISTENT" sendCorrelationId="AUTO">
			<reconnect />
			<amqp:message >
				<amqp:body ><![CDATA[#[%dw 2.0
output application/json
---
vars.person]]]></amqp:body>
				<amqp:headers ><![CDATA[#[%dw 2.0
output application/java
---
{
	operation: attributes.queryParams."operation"
}]]]></amqp:headers>
			</amqp:message>
		</amqp:publish>
	</sub-flow>
	<flow name="listener1_rmq-Flow" doc:id="32c90a76-b55d-437f-9d65-4cdda7b50901" >
		<amqp:listener doc:name="Listener 1" doc:id="ef6f61fa-781c-46e5-857e-5e7cb3d648ba" config-ref="AMQP_Config" queueName="${amqp.listener1.queue}" ackMode="AUTO">
			<redelivery-policy />
			<reconnect-forever />
		</amqp:listener>
		<ee:transform doc:name="Set JAVA var Person and headers in variables from AMQP MSG" doc:id="f3cd8659-9743-4026-b2c7-8905ff5edd4c">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="person"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="operation" ><![CDATA[(attributes.headers[0] as Object)[1] as String]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log AMQP Message" doc:id="d3e06e7a-619f-4ec4-aa92-ef386d5e21f3" message='#[%dw 2.0
output application/json
---
{
	source: "RMQ",
	message: "Person named " 
		++ (vars.person."first-name" default "NONAME") 
		++ " received from the queue.",
	operation: vars.operation
}]' />
		<choice doc:name="Check operation" doc:id="98d1ce1d-8856-49db-bbc5-420daeb42145">
			<when expression='#[vars.operation == "ERROR"]'>
				<logger level="INFO" doc:name="Log ERROR" doc:id="2da16808-6691-481b-8efc-076fc0745fbd" message='#[%dw 2.0
output application/json
---
{
	source: "RMQ",
	message: "Person named " 
		++ (vars.person."first-name" default "NONAME") 
		++ " received with errors."
}]' />
				<raise-error doc:name="Raise error" doc:id="388b04b6-5b09-49da-8cff-f8acc93d7c67" type="BUSINESS:PERSON_IS_BLOCKED" description="This person is not allowed to be inserted on the system." />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log DEFAULT(EVERYTHING ELSE)" doc:id="53ea524c-1bee-4b6e-961b-73c4515ae857" message='#[%dw 2.0
output application/json
---
{
	source: "RMQ",
	message: "Person named " 
		++ (vars.person."first-name" default "") 
		++ " accepted succesfully"
}]' />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="92647fe1-de8a-49db-b84a-9f70e9b3792a" type="MULE:REDELIVERY_EXHAUSTED">
				<logger level="ERROR" doc:name="Log REJECT by ERROR THROWN" doc:id="86415a65-fb54-4b08-a895-c95afce6eeda" message='#[%dw 2.0
output application/json
---
{
	source: "RMQ",
	message: "Message Rejected by Exhaustion of Error Thrown.",
	details: error.description default "NODESCRIPTION"
}]' />
			</on-error-propagate>
			<on-error-propagate enableNotifications="false" logException="true" doc:name="On Error Propagate" doc:id="1eee2974-013b-4499-9b0d-4c49e08687f5" >
				<logger level="INFO" doc:name="Log ERROR THROWN" doc:id="191522fb-7011-4169-8c42-26b10a24781a" message='#[%dw 2.0
output application/json
---
{
	source: "RMQ",
	message: "Person named " 
		++ (vars.person."first-name" default "NONAME") 
		++ " thrown an error.",
	details: error.description default "NODESCRIPTION"
}]' />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
